<% layout('layout') -%>

<div class="row">
    <div class="col-lg-6 col-md-offset-3">

        <form method="post">

            <h2 > Ξέχασα τον κωδικό </h2>
            <div class="form-group">
                <label="name">Email: </label>
                <input type="email" class="form-control" name="email" autofocus='true'>
            </div>

            <button type="submit" class="btn btn-success">Υποβολή</button>
        </form>
    </div>
</div>