<% layout('layout') -%>


<h2>Ομάδα WebX</h2>
<br/>
<p>Γκούσκος Παναγιώτης</p>
<br/>
<p>Ζώζρος Γιάννης</p>
<br/>
<p>Λαμπράκης Παναγιώτης</p>
<br/>
<p>Μαλιγάνης Νικόλας</p>
<br/>
<p>Μάστακας IMPERATOR Ορέστης</p>
