<% layout('layout') -%>



<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron" id="navbar-gap">
    <div class="container">
        <h1> Λειτουργία Bonus</h1>
        <p>Με κάθε αγορά κερδίζετε χρήματα</p>
    </div>
</div>

<div class="container">
    <!-- Example row of columns -->
    <div class="row">
        <div class="col-md-4">
            <h3>Με κάθε αγορά που κάνετε σας επιστρέφουμε το 5% σε Bonus Points</h3>
        </div>
        <div class="col-md-4">
            <h3>Όταν φτάσετε τους 1000 πόντους κερδίζετε 5 Ευρώ εκπτωτικό κουπόνι</h3>
        </div>
    </div>