<% layout('layout') -%>



<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron" id="navbar-gap">
  <div class="container">
    <h1> Το καλύτερο για το παιδί σας</h1>
    <p>Η αρχή για φθηνές και διασκεδαστικές περιπέτειες</p>
    <p><a class="btn btn-primary btn-lg" href="#" role="button">Εγγραφή &raquo;</a></p>
  </div>
</div>

<div class="container">
  <!-- Example row of columns -->
  <div class="row">
    <div class="col-md-4">
      <h3>Ξεκινήστε την αναζήτησή σας εδώ</h3>
      <p>Εγγραφείτε και ξεκινήστε</p>
    </div>
    <div class="col-md-4">
      <h3>Ψάχνετε για καλές προσφορές;</h3>
      <p>Θα εμφανιστούν ώστε να μπορείτε να τις προσθέσετε στο καλάθι σας</p>

   </div>
    <div class="col-md-4">
      <h3>Πόντοι επιβραύεσης</h3>
      <p>Με κάθε αγορά κερδίζετε πόντους για να χρησιμοποιήσετε σε άλλες αγορές :)</p>
    </div>
  </div>
